streamlit
requests
transformers

#streamlit: 스트림릿 클라우드에서 애플리케이션을 개발하고 배포하는 데 필요한 라이브러리입니다.
#requests: 네이버 API와 LLaMA 3.2 90B Instruct를 호출하는 데 필요한 라이브러리입니다.
#json: 데이터를 JSON 형식으로 처리하는 데 필요한 라이브러리입니다.
#transformers: LLaMA 3.2 90B Instruct를 호출하는 데 필요한 라이브러리입니다.
